<div class="main-container mt-5">
  <div class="services-main-container">
    <div class="row py-1 align-items-center">
      <div class="col-12 col-md-6 ps-md-5 text-center text-md-start">
        <h1 class="services-heading">Our Services</h1>
        <p class="services-description">
          At SchemaZenDB, we offer a comprehensive range of database services
          designed to meet the unique needs of our clients. Whether you're
          looking for expert database support, consulting, or data engineering
          services, our team of experienced professionals is here to help you
          achieve your goals. Explore our services below and discover how we can
          assist you in optimizing your database performance, ensuring high
          availability, and managing your cloud databases effectively.
        </p>
      </div>
      <div class="col-12 col-md-6 text-center text-md-end pe-md-5 mt-3 mt-md-0">
        <img
          src="../../../assets/services_home.png"
          alt="Our Services"
          class="services-image"
        />
      </div>
    </div>
    <div class="services-page">
      <!-- HERO -->
      <section class="hero">
        <h1>Database Services</h1>
        <p>
          Enterprise-grade database solutions for performance, scalability, and
          security.
        </p>
      </section>

      <!-- SERVICES GRID -->
      <section class="services-grid">
        <div class="service-card" *ngFor="let service of services">
          <i class="bi {{ service.icon }}"></i>

          <h3>{{ service.title }}</h3>

          <p>{{ service.description }}</p>

          <button class="learn-btn" (click)="goToService(service.id!)">
  Learn More →
</button>
        </div>
      </section>

      <div class="row mt-2">
        <h5 class="col-12 text-center testimonials-header">Testimonials</h5>
        <p class="col-12 text-center testimonials-subheader">
          Hear from our satisfied clients about their experience with our
          database management services.
        </p>
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let card of cards; let i = index">
            <div class="d-flex justify-content-center">
             <div class="card testi-card mt-3 w-100 px-3">
                <div class="card-body">
                  <p class="card-text text-center">{{ card.description }}</p>
                  <p class="test-name mb-0">{{ card.personName }}</p>
                  <p class="test-title">{{ card.personTitle }}</p>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      <!-- CTA -->
      <section class="cta">
        <h2>Need Expert DBA Support?</h2>

        <p>Our certified professionals are ready to help.</p>

        <a class="cta-btn my-2" routerLink="/schema-db/contact">Contact Us</a>
      </section>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
