<div class="main-container mx-4">
  <div class="row mt-5">
    <h4 class="col-lg-6 col-12">
      <span class="main-info"
        >Trust worthy Database Management Services for Secure, High-Performance
        Systems</span
      >
      <p class="sub-info">
        We help businesses design, manage, and optimize databases that are
        secure, scalable, and built for performance. From architecture planning
        and migration to continuous monitoring and optimization, our experts
        ensure your data remains reliable, compliant, and always available—so
        you can focus on growing your business without worrying about database
        complexity.
      </p>
    </h4>
    <div class="col-lg-6 col-12 mt-4 mt-lg-0">
      <img src="assets/db_img.png" alt="homepage image" class="main-page-img" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Database Support</button>
          <ng-template ngbNavContent>
            <div class="row mt-4">
             <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/db-managed-services.webp"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-2">
                      DBA Managed Services
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/remote-dba-support.webp"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-2">
                      Remote DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/onsite-dba-support.webp"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-2">
                      OnSite DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img src="assets/db-dev.webp" alt="Database support" />

                    <h5 class="card-title text-white my-2">
                      Database Development
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Consulting</button>
          <ng-template ngbNavContent>
            <div class="row mt-4">
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      DBA Managed Services
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      Remote DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      OnSite DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      Database Development
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Data & Engineering Services</button>
          <ng-template ngbNavContent>
            <div class="row mt-5">
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      DBA Managed Services
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      Remote DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      OnSite DBA Support
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <div class="card glass-card-tabs">
                  <div class="card-body">
                    <img
                      src="assets/home_page_img.png"
                      alt="Database support"
                    />

                    <h5 class="card-title text-white my-1">
                      Database Development
                    </h5>
                    <p class="card-text">
                      24/7 expert-level care for your databases, ensuring
                      optimal performance and security at affordable cost
                      customized for your business requirements. Avoid the need
                      for an in-house DBA team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#db-support">Database Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#consulting">Consulting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#data-services">Data & Engineering Services</a>
        </li> -->
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
  <hr />
  <div class="row mt-3">
    <h2 class="sub-text">
      Reliable Data & Managed Services Partner for 150+ Companies
    </h2>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card glass-card my-2">
        <div class="card-body">
          <p class="glass-header">{{ clientsCount | number }}+</p>
          <p class="glass-content">Happy Clients Still Counting</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card glass-card my-2">
        <div class="card-body">
          <p class="glass-header">{{ databasesCount | number }}+</p>
          <p class="glass-content">Databases being managed</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card glass-card my-2">
        <div class="card-body">
          <p class="glass-header">{{ migrationsCount | number }}+</p>
          <p class="glass-content">Successful Databases Migrations</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card glass-card my-2">
        <div class="card-body">
          <p class="glass-header">{{ transactionsCount | number }}+</p>
          <p class="glass-content">DB Transactions Handled Per Day</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h5 class="col-12 text-center testimonials-header">Testimonials</h5>
    <p class="col-12 text-center testimonials-subheader">
      Hear from our satisfied clients about their experience with our database
      management services.
    </p>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let card of cards; let i = index">
        <div class="d-flex justify-content-center">
          <div class="card testi-card mt-3">
            <div class="card-body">
              <p class="card-text text-center">{{ card.description }}</p>
              <p class="test-name mb-0">{{ card.personName }}</p>
              <p class="test-title">{{ card.personTitle }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <hr />
  <div class="row my-2">
    <h5 class="col-12 text-center testimonials-header">
      Technologies We Support
    </h5>
    <div class="col-12 technologies-bg text-center">
      <div class="tech-scroll">
        <div class="row flex-nowrap">
          <div class="col-3 me-3">
            <img src="assets/mysql-logo-1.png.webp" class="technology-logo" />
          </div>
          <div class="col-3 me-3">
            <img src="assets/sql-server-studio.png" class="technology-logo" />
          </div>
          <div class="col-2 me-3">
            <img src="assets/postgre.png" class="technology-logo" />
          </div>
          <div class="col-3">
            <img src="assets/mariadb.png" class="technology-logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
