<nav
  class="navbar navbar-light bg-light navbar-expand-md fixed-top navbar-top p-0"
>
  <div class="container-fluid px-3">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.jpeg" alt="logo" class="logo-img" />
    </a>
  <button
  class="navbar-toggler"
  type="button"
  (click)="isMenuOpen = !isMenuOpen"
>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="zenDBNav" [ngbCollapse]="!isMenuOpen">
      <ul class="navbar-nav ms-auto">
         <li class="nav-item" (click)="closeMenu()">
          <a
            class="nav-link text-white"
            routerLink="/schema-db/home"
            
            >Home12367</a
          >
        </li>
<li class="nav-item">
  <a
    class="nav-link text-white"
    routerLink="/schema-db/services"
    #servicesPopover="ngbPopover"
    [ngbPopover]="!isMobile ? servicesContent : null"
    triggers="click"
    popoverClass="custom-services-popover"
    container="body"
    placement="bottom"
    (mouseenter)="!isMobile && openPopover(servicesPopover)"
    (mouseleave)="!isMobile && scheduleClose(servicesPopover)"
    (click)="isMobile ? handleMobileServicesClick($event) : null"
  >
    Services
  </a>

  <!-- ✅ FIXED: now inside li -->
  <ul *ngIf="isMobile && showServices" class="mobile-dropdown">
    <li *ngFor="let service of services">
      <a
        [routerLink]="'/schema-db/' + service.id"
        (click)="closeMenu()"
      >
        {{ service.name }}
      </a>
    </li>
  </ul>
</li>
        <li class="nav-item" (click)="closeMenu()">
          <a
            class="nav-link text-white"
            routerLink="/schema-db/about"
            
            >About US</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            routerLink="/schema-db/explore"
            #popover="ngbPopover"
            [ngbPopover]=" exploreContent"
            triggers="click"
            popoverClass="custom-popover"
            container="body"
            (mouseenter)="!isMobile && openPopover(popover)"
            (mouseleave)="!isMobile && scheduleClose(popover)"
          >
            Explore
          </a>
        </li>

        <li class="nav-item" (click)="closeMenu()">
          <a class="nav-link text-white" routerLink="/schema-db/contact"
            >Contact Us</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-white" routerLink="/schema-db/it-contract-supply"
            >IT Contract Supply</a
          >
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<ng-template #exploreContent>
  <div
    class="popover-content"
    (mouseenter)="cancelClose()"
    (mouseleave)="closePopover(popover)"
  >
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/blog" (click)="closeMenu()">Blog</a></li>
      <!-- <li><a routerLink="/schema-db/explore/case-studies">Case Studies</a></li> -->
    </ul>
  </div>
</ng-template>

<!-- <ng-template #aboutUsContent>
  <div
    class="popover-content"
    (mouseenter)="cancelClose()"
    (mouseleave)="closePopover(aboutUsPopover)"
  >
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/company-overview">Company Overview</a></li>
      <li><a routerLink="/schema-db/our-team">Our Team</a></li>
    </ul>
  </div>
</ng-template> -->

<ng-template #servicesContent>
  <div
    class="mega-menu"
    (mouseenter)="cancelClose()"
    (mouseleave)="closePopover(servicesPopover)"
  >
    <div class="mega-left">
      <ul>
        <li
          *ngFor="let service of services"
          (mouseenter)="setActiveService(service)"
        (click)="closeMenu()">
          <a routerLink="/schema-db/{{ service.id }}" class="text-dark p-0">{{ service.name }}</a>
        </li>
      </ul>
    </div>

    <div class="mega-right">
      <h4>{{ activeService.name }}</h4>
      <p>{{ activeService.description }}</p>
      <img
        *ngIf="activeService.image"
        [src]="activeService.image"
        class="preview-image"
      />
    </div>
  </div>
</ng-template>
