.bg-light {
  background-color: white !important;
  min-height: 75px;
}
nav {
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #a79f9f;
  background: linear-gradient(270deg, #0f2027, #203a43, #2c5364, #1c1c3c);
}

.nav-link:hover {
  border-bottom: 2px solid #2c5364;
}

.logo-img {
  height: 66px;
  // border-radius: 6px;
}

.logo-img {
  height: clamp(40px, 6vw, 66px);
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    background: #1c1c3c;
    padding: 15px;
    border-radius: 10px;
  }

  .nav-link {
    padding: 10px 0;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1); /* makes it visible on dark bg */
}

body {
  padding-top: 80px;
}


::ng-deep .popover {
  pointer-events: auto;
  margin-top: 0px !important; /* remove gap */
}

.popover-content,
.mega-menu {
  pointer-events: auto;
}

.mobile-dropdown {
  list-style: none;
  padding-left: 15px;
}

.mobile-dropdown li a {
  display: block;
  padding: 8px 0;
  color: white;
}

::ng-deep .popover {
  pointer-events: auto;
}

.navbar .nav-item {
  position: relative;
}
.mega-menu {
  display: flex;
  gap: 20px;
}

/* MOBILE FIX */
@media (max-width: 991px) {
  .mega-menu {
    flex-direction: column;
  }

  .mega-right img {
    max-width: 100%;
    height: auto;
  }
}
/* DEFAULT (desktop) */
::ng-deep .custom-services-popover .popover {
  max-width: 600px;
  width: auto;
}

/* SMALL SCREENS */
@media (max-width: 991px) {
  ::ng-deep .custom-services-popover .popover {
    max-width: 90vw !important;
    width: 90vw;
    left: 10vw !important;
  }

  .mega-menu {
    flex-direction: column;
  }

  .mega-left,
  .mega-right {
    width: 50%;
    margin-left:5rem;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    margin-top: 10px;
  }
}

.mobile-dropdown {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}

.mobile-dropdown li {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.mobile-dropdown li a {
  display: block;
  padding: 10px;
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .custom-services-popover .popover-body {
    padding: 10px;
  }

  .mega-menu {
    font-size: 14px;
  }
}