<div class="row footer-lists">
  <div class="col-lg-3 col-md-6 col-12 px-3">
    <h5>Services</h5>
    <ul class="list-unstyled">
      <li><a href="#">Database Support</a></li>
      <li><a href="#">Consulting</a></li>
      <li><a href="#">Data & Engineering Services</a></li>
      <li><a href="#">DBA Managed Service</a></li>
      <li><a href="#">Remote DBA support</a></li>
      <li><a href="#">Cloud database management</a></li>
      <li><a href="#">Performance tuning & optimisation</a></li>
      <li><a href="#">Database High Availability & DR</a></li>
      <li><a href="#">Database Migrations</a></li>
      <li><a href="#">Azure Data Engineering</a></li>
      <li><a href="#">Enterprise Application Development</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>About Us</h5>
    <ul class="list-unstyled">
      <li><a href="#"> Our Startup Story</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Our Clients</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>Quick Links</h5>
    <ul class="list-unstyled">
      <li><a href="#"> Our Startup Story</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Our Clients</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>Address</h5>
    <p class="text-white">
      SchemaZenDb, 2nd Floor, 3, 5th Cross Rd, P & T Layout, Coconut Grove
      Layout, Madiwala Post, Madiwala, Bengaluru, Karnataka 560068
    </p>
  </div>
</div>
<div class="row footer-section">
  <div class="col-12">
    <p class="text-center footer-text">
      &copy; 2026 SchemaZenDB. All rights reserved. | Privacy Policy | Terms of
      Service
    </p>
  </div>
</div>
