<div class="row footer-lists">
  <div class="col-lg-3 col-md-6 col-12 pe-3 ps-5">
    <h5>Services</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/service/db-support" class="text-white">Database Support</a></li>
      <li><a routerLink="/schema-db/service/consulting" class="text-white">Consulting</a></li>
      <li><a routerLink="/schema-db/service/cloud-db" class="text-white">Cloud database management</a></li>
      <li><a routerLink="/schema-db/service/db-migration" class="text-white">Database Migrations</a></li>
      <li><a routerLink="/schema-db/service/db-trainings" class="text-white">Database Trainings</a></li>
      <li><a routerLink="/schema-db/service/it-contract-supply" class="text-white">IT Contract Supply</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>About Us</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/company-overview" class="text-white">Company Overview</a></li>
      <li><a routerLink="/schema-db/our-team" class="text-white">Our Team</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12 pe-3 ps-5">
    <h5>Quick Links</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/company-overview"> Company Overview</a></li>
      <li><a routerLink="/schema-db/our-team">Our Team</a></li>
      <li><a routerLink="/schema-db/contact">Contact Us</a></li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>Address</h5>
    <p class="text-white">
      SchemaZenDb, 2nd Floor, 3, 5th Cross Rd, P & T Layout, Coconut Grove
      Layout, Madiwala Post, Madiwala, Bengaluru, Karnataka 560068
    </p>
  </div>
</div>
<div class="row footer-section">
  <div class="col-12">
    <p class="text-center footer-text">
      &copy; 2026 SchemaZenDB. All rights reserved. | Privacy Policy | Terms of
      Service
    </p>
  </div>
</div>