<div class="row footer-lists">
  <div class="col-lg-3 col-md-6 col-12 pe-3 ps-5">
    <h5>Services</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/service/managed-db-services" class="text-white">Managed Database Services</a></li>
      <li><a routerLink="/schema-db/service/consulting" class="text-white">Database Consulting & Architecture</a></li>
      <li><a routerLink="/schema-db/service/cloud-db" class="text-white">Cloud & Hybrid Database Management</a></li>
      <li><a routerLink="/schema-db/service/db-migration" class="text-white">Database Migration & Upgrades</a></li>
      <li><a routerLink="/schema-db/service/db-trainings" class="text-white">Database Trainings</a></li>
      <li><a routerLink="/schema-db/service/dba-staffing-aug" class="text-white">DBA Staffing & Augmentation</a></li>
      <li><a routerLink="/schema-db/service/db-performance-health-audit" class="text-white">Database Performance Tuning & Health Audits</a></li>


    </ul>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <h5>About Us</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/about" class="text-white">Company Overview</a></li>
      <!-- <li><a routerLink="/schema-db/our-team" class="text-white">Our Team</a></li> -->
    </ul>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-12 pe-3 ps-5">
    <h5>Quick Links</h5>
    <ul class="list-unstyled">
      <li><a routerLink="/schema-db/about"> Company Overview</a></li>
      <li><a routerLink="/schema-db/our-team">Our Team</a></li>
      <li><a routerLink="/schema-db/contact">Contact Us</a></li>
    </ul>
  </div> -->
  <div class="col-lg-3 col-md-6 col-12">
  <h5>Address</h5>
  <p class="text-white">
    <i class="fa-solid fa-location-dot"></i>SchemaZenDb, 314-B, Vestaa Lushes, Gopasandra, Muthanallur Cross Road, Bangalore, Karnataka - 560099
    <a 
  href="https://www.google.com/maps/search/?api=1&query=SchemaZenDb,314-B,Vestaa+Lushes,Gopasandra,Muthanallur+Cross+Road,Bangalore,Karnataka-560099" 
  target="_blank" 
  class="mt-3 text-white d-block"
>
 <hugeicons-icon [icon]="locationIcon" [strokeWidth]="2"></hugeicons-icon>
  Click Here to View on Map
</a>
  </p>
</div>
</div>
<div class="row footer-section">
  <div class="col-12">
    <p class="text-center footer-text">
      &copy; 2026 SchemaZenDB. All rights reserved. | Privacy Policy | Terms of
      Service
    </p>
  </div>
</div>