<div class="row">
  <div class="col-lg-5 col-12">
    <div class="card contact-card align-items-center justify-content-center">
      <div class="card-body">
        <h5 class="text-center">Contact Us</h5>
        <p class="card-text">
          Have questions about our services or need expert support for your database environment?
Get in touch with us to discuss your requirements and explore the right solutions.
        </p>
        <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Name:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="text"
              class="form-control"
              placeholder="your name"
              [(ngModel)]="userName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Email:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="email"
              class="form-control"
              placeholder="youremail@gmail.com"
              [(ngModel)]="userEmail"
            />
          </div>
        </div>
          <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Mobile:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your mobile number"
              [(ngModel)]="phoneNum"
            />
          </div>
        </div>
          <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Country:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="email"
              class="form-control"
              placeholder="Enter Your Country"
              [(ngModel)]="country"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Message:<span class="required-field">*</span></h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <textarea
              class="form-control"
              rows="3"
              placeholder="your message here"
              [(ngModel)]="userMessage"
            ></textarea>
          </div>
        </div>
        <button
          class="btn w-100 text-center contact-btn mt-3"
          (click)="sendMessage()"
        >
          Send Message<hugeicons-icon
            [icon]="TelegramIcon"
            [strokeWidth]="1.5"
            class="ms-1"
          ></hugeicons-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    class="col-lg-7 col-12 d-flex flex-column align-items-center justify-content-center contact-info pe-4"
  >
    <h4 class="text-white">
      Elevate your business with expert database management solutions.
    </h4>
    <p class="comp-info text-white text-center">
     Our team is ready to help you design, optimize, and manage your database systems.
    </p>
    <div class="row contact-dets mt-4">
      <div class="col-5">
        <hugeicons-icon
          [icon]="callIcon"
          [strokeWidth]="1.5"
          class="me-2"
        ></hugeicons-icon
        >+91 9962282429
      </div>
      <div class="col-6 px-0">
        <hugeicons-icon
          [icon]="mailIcon"
          [strokeWidth]="1.5"
          class="me-2"
        ></hugeicons-icon
        >
        itservices&#64;schemazendb.com
      </div>
    </div>
  </div>
</div>

<hr />
