<div class="row">
  <div class="col-lg-5 col-12">
    <div class="card contact-card align-items-center justify-content-center">
      <div class="card-body">
        <h5 class="text-center">Contact Us</h5>
        <p class="card-text">
          Whether you have questions about our services, want to discuss your
          database needs, feel free to reach out to us for solutions.
        </p>
        <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Name:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="text"
              class="form-control"
              placeholder="your name"
              [(ngModel)]="userName"
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Email:</h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <input
              type="email"
              class="form-control"
              placeholder="youremail@gmail.com"
              [(ngModel)]="userEmail"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <h6 class="mt-1">Message:<span class="required-field">*</span></h6>
          </div>
          <div class="col-md-8 col-12 ps-0">
            <textarea
              class="form-control"
              rows="3"
              placeholder="your message here"
              [(ngModel)]="userMessage"
            ></textarea>
          </div>
        </div>
        <button
          class="btn w-100 text-center contact-btn mt-3"
          (click)="sendMessage()"
        >
          Send Message<hugeicons-icon
            [icon]="TelegramIcon"
            [strokeWidth]="1.5"
            class="ms-1"
          ></hugeicons-icon>
        </button>
      </div>
    </div>
  </div>
  <div
    class="col-lg-7 col-12 d-flex flex-column align-items-center justify-content-center contact-info pe-4"
  >
    <h4 class="text-white">
      Elevate your business with our expert Database Management Solutions !
    </h4>
    <p class="comp-info text-white text-center">
      We believe in the importance of communication and we have developed
      various touchpoints for all stakeholders to get in touch with us. We
      assure you will not be answered by a bot, but a real human. Reach out to
      GeoPITS!
    </p>
    <div class="row contact-dets mt-4">
      <div class="col-6">
        <hugeicons-icon
          [icon]="callIcon"
          [strokeWidth]="1.5"
          class="me-2"
        ></hugeicons-icon
        >91-123-4567890
      </div>
      <div class="col-5">
        <hugeicons-icon
          [icon]="mailIcon"
          [strokeWidth]="1.5"
          class="me-2"
        ></hugeicons-icon
        >zendb&#64;support.com
      </div>
    </div>
  </div>
</div>

<hr />
