.required-field {
  color: red;
}

.contact-info {
  h4 {
    font-weight: 900;
    text-align: center;
    line-height: 1.6;
    font-size: 30px;
  }
}
.contact-card {
  width: 100%;
  max-width: 420px;
  margin: 6rem auto;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 0 1px rgba(255, 255, 255, 0.3);

  color: #fff;
}
.contact-card:hover {
  box-shadow:
    0 12px 40px rgba(0, 0, 0, 0.35),
    inset 0 0 1px rgba(255, 255, 255, 0.4);
}
.contact-card .form-control {
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.contact-card .form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.contact-card .form-control:focus {
  background: rgba(255, 255, 255, 0.12);
  border-color: #00fdff;
  box-shadow: 0 0 8px rgba(0, 253, 255, 0.4);
  color: #fff;
}
.contact-btn {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #00fdff;
  color: #00fdff;
  font-weight: 500;
}
.contact-btn:hover {
  background: linear-gradient(135deg, #00fdff, #6aebff);
  color: #000;
}

.contact-dets {
  color: #fff;
  width: 32rem;
}

hr {
  background-color: aqua !important;
}
